body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.regform{
    width: 500px;
    height:950px;
    border-radius: 5px;
    margin: auto;
    background-color: #f2f2f2;
    padding: 3rem;
    border: 4px solid green;
    margin-top:1rem;
}

.loginform{
    text-align: center;
    width: 500px;
    height:500px;
    border-radius: 5px;
    margin: auto;
    background-color: #f2f2f2;
    padding: 3rem;
    border: 4px solid green;
    margin-top:1rem;
}
#profile{
    text-align: left;
    width: 400px;
    height:500px;
    border-radius: 5px;
    margin: auto;
    background-color: #f2f2f2;
    padding: 3rem;
    border: 4px solid green;
    margin-top:1rem;
    font-size: larger;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1rem;
  }

.elements{
    margin-left: 3rem;
    width: 20rem;
}

#group{
    text-align: left;
    width: 700px;
    height:200px;
    border-radius: 5px;
    margin: auto;
    background-color: #f2f2f2;
    padding: 3rem;
    border: 4px solid green;
    margin-top:1rem;
    font-size: larger;
}

.groupphoto{
    float: right;
}

.header{
    padding-bottom: 0.2rem ;
    padding-top: 0.2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    align-self: center;
    background-color: rgb(3, 62, 35);
    text-align: center;
}

label{
    float:left;
    font-size: 18px;
    color: rgb(3, 62, 35);
    font-weight: bold;
}
button[type=submit] {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

#voted{
    background-color: grey;
    color: black;
}

#votebtn{
    background-color:rgb(3, 81, 16);
    color: white;
}

.contact{
    font-size: x-large;
}

.formerror{
    color: red;
}

/* .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position:;
    top:0;
    left: 0;
    width: 50%;
    height: 50%;
  } */

.iframe-container{
    padding-top: 16rem;
}

  iframe {
    margin-top: 20rem;
    display: block;
    margin: 0 auto;
  }